<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monkporter.zafran">

    <!-- Make request to server -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet (allow files from the internet to be cached into local storage.) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- For receiving messages -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".Zafran"
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyACau6bKSGStVsPrN8rKggXVVFI3ySAKIs" />

        <activity
            android:name=".activity.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">


        </activity>
        <activity
            android:name=".activity.OrderHistory"
            android:label="@string/title_order_history_activity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.NotificationCenter" />
        <activity android:name=".activity.SingleProduct"></activity>
        <activity android:name=".activity.Test" />
        <!-- Services -->
        <service android:name=".pushnotification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <service
            android:name=".pushnotification.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.AddressDetail"
            android:label="My Addresses"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.OrderDetail"
            android:label="Order Detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ThankYouScreen"
            android:label="Thank you"
            android:theme="@style/AppTheme">


        </activity>
        <activity
            android:name=".activity.Refresh"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.PlacesAutoCompleteActivity">

        </activity>
        <activity
            android:name=".activity.DeliveryAddress"
            android:label="Delivery Address"
            android:exported="true"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".activity.VerificationActivity" />


        <activity
            android:name=".activity.SmsActivity"
            android:label="SmsActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".activity.CheckoutScreen"
            android:label="Checkout"
            android:theme="@style/AppTheme">


        </activity>
    </application>

</manifest>